<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h2 class="mb-3"><strong>About</strong></h2>
        <p>ラーメン探訪記ではラーメンのレビューの投稿、閲覧ができます。</p>
        <p>様々なラーメンと出会い、お気に入りの一杯を見つけてください！</p>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div>
      <%= image_tag 'about.jpg', class: 'img-fluid' %>
    </div>
  </div>
</div>