<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="p-3 my-3">会員一覧</h5>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>

        <tr>
          <td><%= user.id %></td>

          <td><%= link_to user.name, admin_user_path(user) %></td>

          <td><%= user.email %></td>

          <td>
            <% if user.is_active %>
              <a>有効</a>
            <% else %>
              <a>退会</a>
            <% end %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate @users %>
    </div>
  </div>
</div>